.type-area {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.1);

  margin-bottom: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
